<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hobuku.hobu"
    android:versionCode="3"
    android:versionName="3.0">

    <uses-sdk  android:minSdkVersion="8"  android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.VIBRATE"/>
     <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_apk"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false"
        android:largeHeap="true">
        
        <activity android:name="com.hobuku.hobu.Loading" android:label="HOBU" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
          <activity android:name="com.hobuku.hobu.Album" android:label="Pilih Tiket" />
         <activity android:name="com.hobuku.hobu.Detail_beliApprove" android:label="Pilih Tiket" />
        
         <activity android:name="com.hobuku.hobu.Slider" android:label="Pilih Tiket" />
         <activity android:name="com.hobuku.hobu.Gantangan" android:label="Pilih Tiket" />
        <activity android:name="com.hobuku.hobu.Login" android:label="@string/app_name" />
        <activity android:name="com.hobuku.hobu.Menu_info" android:label="@string/app_name" />
        <activity android:name="com.hobuku.hobu.Menu_beli" android:label="@string/app_name" />
        <activity android:name="com.hobuku.hobu.Menu_utama" android:label="@string/app_name" />
        <activity android:name="com.hobuku.hobu.Profil_anggota" android:label="@string/app_name" />
        <activity android:name="com.hobuku.hobu.Cari_beli" android:label="@string/app_name" />
        <activity android:name="com.hobuku.hobu.Detail_caribeli" android:label="@string/app_name" />
        <activity android:name="com.hobuku.hobu.List_keranjangbeli" android:label="@string/app_name" />
        <activity android:name="com.hobuku.hobu.Detail_keranjangbeli" android:label="@string/app_name" />
        <activity android:name="com.hobuku.hobu.Add_jual" android:label="@string/app_name" />
        <activity android:name="com.hobuku.hobu.Daftar" android:label="@string/app_name" />
        <activity android:name="com.hobuku.hobu.UploadToServer" android:label="@string/app_name" />
        <activity android:name="com.hobuku.hobu.Order_tiket" android:label="@string/app_name" />
            <activity android:name="com.hobuku.hobu.Detail_belibooking" android:label="@string/app_name" />
        
        <activity android:name="com.hobuku.hobu.List_anggota" android:label="@string/app_name" />
        <activity android:name="com.hobuku.hobu.List_beli" android:label="@string/app_name" />
        <activity android:name="com.hobuku.hobu.List_burung" android:label="@string/app_name" />
        <activity android:name="com.hobuku.hobu.List_jual" android:label="@string/app_name" />
        <activity android:name="com.hobuku.hobu.List_lomba" android:label="@string/app_name" />
        <activity android:name="com.hobuku.hobu.List_perawatan" android:label="@string/app_name" />
        <activity android:name="com.hobuku.hobu.List_tiket" android:label="@string/app_name" />
        <activity android:name="com.hobuku.hobu.List_user" android:label="@string/app_name" />
        
        <activity android:name="com.hobuku.hobu.Detail_anggota" android:label="@string/app_name" />
		<activity android:name="com.hobuku.hobu.Detail_beli" android:label="@string/app_name" />
		<activity android:name="com.hobuku.hobu.Detail_burung" android:label="@string/app_name" />
		<activity android:name="com.hobuku.hobu.Detail_jual" android:label="@string/app_name" />
		<activity android:name="com.hobuku.hobu.Detail_lomba" android:label="@string/app_name" />
		<activity android:name="com.hobuku.hobu.Detail_perawatan" android:label="@string/app_name" />
		<activity android:name="com.hobuku.hobu.Detail_user" android:label="@string/app_name" />
		<activity android:name="com.hobuku.hobu.List_bookingjual" android:label="@string/app_name" />
		<activity android:name="com.hobuku.hobu.Detail_beliarsip" android:label="@string/app_name" />
			<activity android:name="com.hobuku.hobu.List_bookingarsip" android:label="@string/app_name" />
		
		<activity android:name="com.hobuku.hobu.UploadToServer2" android:label="@string/app_name" />
		<activity android:name="com.hobuku.hobu.UploadToServerTiket" android:label="@string/app_name" />
		
		
			<activity android:name="com.hobuku.hobu.BeliTransfer" android:label="@string/app_name" />
		<activity android:name="com.hobuku.hobu.Detail_tiketkonfirmasi" android:label="@string/app_name" />
		   <activity android:name="com.hobuku.hobu.Detail_tiketbooking" android:label="@string/app_name" />
		   
		<activity android:name="com.hobuku.hobu.Detail_tiketselesai" android:label="@string/app_name" />
		   <activity android:name="com.hobuku.hobu.Detail_tiketbatal" android:label="@string/app_name" />
		    <activity android:name="com.hobuku.hobu.Detail_jualEdit" android:label=".:Detail Penjualan :." />
		   	
		    <activity android:name="com.hobuku.hobu.Notif" android:label=".:Notif Penjualan :." />
		    	   
    </application>

</manifest>